.Listings {
    height: calc(100vh - 177px);
    overflow-y: scroll;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    // padding-top: 16px;
    padding-left: 16px;
}

@media (max-width: 991px) {
    .Listings {
        height: auto;
        overflow: auto;
    }
}